*.class
.metadata/
# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

#jukebox gap lists
*.jb
*.mp3

#executables
*.exe

#windows files
Thumbs.db

#init file
init

#android
*.apk

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
*.apk
AndroidClient/bin/AndroidClient.apk
*.ini
